@font-face {
  font-family: sssnakee;
  src: local("sssnakee"), url(./fonts/BoxedRound.0c5a96af.ttf) format("truetype");
}

@keyframes fa-beat {
    0% { transform: scale(1); }
    50% { transform: scale(1.3); }
    100% { transform: scale(1); }
}

.fa-beat {
    animation: fa-beat 1s infinite;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

#titulo.fade-out {
  animation: fadeOut 0.5s ease-in-out;
}

#titulo {
  color: white;
  animation: fadeIn 0.5s ease-in-out;
}

img {
  display: block;
  margin: 0 auto; /* Centra la imagen horizontalmente */
}

.ocultar-img {
  display: none; /* Oculta el contenedor del logo */
}

.container {
  text-align: center;
}

button {
  font-family: sssnakee;
  box-shadow:2px 3px 3px 1px rgb(0, 0, 0.75);
  border: 2px solid rgba(255, 255, 255, 0.75);
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 7px;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 18px;
}

button:hover {
  color: #000;
  background-color: rgba(255, 255, 255, 0.7);
}


body {
  font-family: sssnakee;
  margin: auto;
  overflow: auto;
  background-image: url(./img/background.svg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.loader {
  display: none;
  color: #000000;
  font-size: 45px;
  text-indent: -9999em;
  margin: 50%;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  transform: translateZ(0);
  animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes mltShdSpin {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em,
    0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
    0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 
    0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 
    0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, 
    -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, 
    -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
     -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, 
     -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
     -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, 
     -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 
    0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes round {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

/* info */

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

button {
    margin: 10px; /* Agrega espacio entre los botones */
}

button, a {
    cursor: pointer;
    color: white;
    text-decoration: none; /* Para quitar el subrayado predeterminado de los enlaces */
}

.icon {
    margin: 20px;
}

p {
	font-size: 22px;
}

hr {
    border-style: solid;
	background-color: #000;
	height: 2px;
	border-radius: 8px;
}